body {
    background-image: url(../images/backgroundgif.png);
    background-size: cover;
    background-position: center;
    min-height: 100%;
    background-attachment: fixed;
    /* overflow: hidden;
    position: absolute; */
}